<ion-view title="Video Call" class="video-chat" ng-init="initializeCtrl()">
    
    <ion-content>
        <!--video chat-->
        <!--start-->
     <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
<!--end-->

</ion-content> 
<ion-footer-bar>
  <ion-toolbar>
        <button type="button" class="button button-calm" ng-click="startVideoCall()" ng-disabled="requestInProgress">
                <i class="icon ion-ios-telephone"></i> Call
        </button>
    <ion-title>Start a Video Call</ion-title>
            
  </ion-toolbar>
</ion-footer-bar>
</ion-view>
 