.mine {
    background: skyblue;
    text-align: right;
}

.align-right {
    float: right;
    width: 10px;
}

.align-left {
    float: left;
    width: 10px;
}

.right:hover {
    background: gray;
    color: white;
}

.list {
    width: 100%;
}

.fileUploder {
    margin: 100px 0 80px 10px;
}