.mine {
    background: skyblue;
    text-align: right;
}

.align-right {
    float: right;
    width: 10px;
}

.align-left {
    float: left;
    width: 10px;
}

.right:hover {
    background: gray;
    color: white;
}

.list {
    width: 100%;
}

.fileUploder {
    /* margin: 10% 0 5% 0; */
    margin: 10%;
}